<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="NoCacheforJSFiles" preCondition="IsJSFile">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
                </rule>
                <preConditions>
                    <preCondition name="IsJSFile">
                        <add input="{REQUEST_FILENAME}" pattern=".*\.js$" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="max-age=86400" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
